{% block style %}
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
{% endblock %}
{% block contenido %}
    <div id="map"></div>
{% endblock %}
{% block script %}
  <script>
function initMap() {
  var myLatLng = {lat: {{ latitud }}, lng: {{ longitud }}};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Punto del hueco'
  });
}

    </script>
    <script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5TqLnWHMFlFSxufxXOEJK7jp-J3_isJY&signed_in=true&libraries=places&callback=initMap" async defer></script>
{% endblock %}
  